{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}

<div class="inner-page-wrapper">
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'categorias' %}">Categorias</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ categoria.descricao }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE HERO -->
    <section class="bg-05 page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="hero-txt white-color">
                        <h3 class="h3-xs">Cursos por Categoria</h3>
                        <div class="share-list">
                            <ul class="share-social-icons text-center clearfix">
                                <li>
                                    <p><span>{{ todos_cursos.count }} Cursos</span> encontrados.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="d-flex" role="search" method="get" action="{% url 'categoriadetalhe' categoria.id %}">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar Cursos" aria-label="Search" name="search" value="{{ busca }}">
                        <button class="btn btn-md" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- COURSES LIST -->
    <section id="courses-3" class="wide-60 courses-section division">
        <div class="container">
            <div class="row">
                {% for curso in todos_cursos %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="cbox-1">
                        <a href="{% url 'cursodetalhe' curso.id %}">
                            <img class="img-fluid" src="{{ curso.thumb.url }}" alt="{{ curso.titulo }}" />
                            <div class="cbox-1-txt">
                                <p class="course-tags">
                                    <span>{{ curso.categoria.nome }}</span>
                                    <span>{{ curso.duracao }} horas</span>
                                </p>
                                <h5 class="h5-xs">{{ curso.titulo }}</h5>
                                <div class="course-rating clearfix">
                                    {% with curso.media_avaliacoes|default:0 as media_avaliacoes %}
                                        {% with media_avaliacoes|floatformat:1 as rounded_media %}
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= rounded_media|floatformat:0 %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                            {% if rounded_media|floatformat:1|slice:":-1" != rounded_media|floatformat:0 %}
                                                <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                        {% endwith %}
                                    {% endwith %}
                                    <span>{{ media_avaliacoes|floatformat:1 }} ({{ curso.num_avaliacoes }} Avaliações)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
