{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}

			<!-- INNER PAGE WRAPPER
			============================================= -->
			<div class="inner-page-wrapper">




				<!-- BREADCRUMB
				============================================= -->
				<div id="breadcrumb" class="division">
					<div class="container">
						<div class="row">

							<!-- BREADCRUMB NAV -->
							<div class="col-md-12">
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Categorias</li>
								  	</ol>
								</nav>
							</div>

						</div>	 <!-- End row -->
					</div>	<!-- End container -->
				</div>	<!-- END BREADCRUMB -->




<!-- PAGE HERO -->
<section class="bg-05 page-hero-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-txt white-color">

                    <!-- Title -->
                    <h3 class="h3-xs">Categorias</h3>

                    <!-- Share Icons -->
                    <div class="share-list">
                        <ul class="share-social-icons text-center clearfix">
                            <li>
                                <p>
                                    <span>{{ total_cursos|default:0 }} cursos</span> encontrado em 
                                    <span>{{ categorias.count|default:0 }} Categorias</span>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div> <!-- END PAGE HERO TEXT -->
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END PAGE HERO -->

<!-- CATEGORIES-2 -->
<section id="categories-2" class="wide-70 categories-section division">
    <div class="container">
        <div class="row">

            <!-- Verifica se há categorias -->
            {% if categorias %}
                <!-- Loop through categories -->
                {% for categoria in categorias %}
                <div class="col-sm-6 col-lg-3 col-xl-2">
                    <a href="{% url 'categoriadetalhe' categoria.id %}">
                        <div class="c2-box text-center">

                            <!-- Icon -->
                            <img class="img-70" src="{% static 'images/icons/default-icon.png' %}" alt="category-icon" />

                            <!-- Text -->
                            <h5 class="h5-sm">{{ categoria.descricao }}</h5>
                            <p>{{ categoria.num_cursos }} Cursos</p>

                        </div>
                    </a>
                </div>
                {% endfor %} <!-- END CATEGORIE BOX -->
            {% else %}
                <!-- Mensagem quando não há categorias -->
                <div class="col-md-12">
                    <p class="text-center">Nenhuma categoria encontrada.</p>
                </div>
            {% endif %}

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End CATEGORIES-2 -->



				<!-- ABOUT-4
				============================================= -->
				<section id="about-4" class="bg-lightgrey wide-70 about-section division">
					<div class="container">


						<!-- ABOUT TEXT -->
						<div class="row">
						 	<div class="col-xl-10 offset-xl-1">
						 		<div class="a4-txt">

						 			<!-- Title -->
									<h5 class="h5-xl text-center">Nosso objetivo é fazer com que a educação on-line funcione para todos</h5>

									<!-- Text -->
									<p>Sagittis congue augue egestas volutpat egestas magna suscipit egestas magna ipsum vitae purus
									   efficitur ipsum primis and cubilia laoreet augue egestas luctus donec diam. Curabitur ac dapibus
									   libero mauris donec ociis and neque. Phasellus blandit tristique justo ut aliquam. Aliquam vitae
									   molestie nunc sapien justo, aliquet non molestie augue tempor sapien
									</p>

								</div>
							</div>
						</div> 	<!-- END ABOUT TEXT -->


						<!-- ABOUT IMAGE -->
						<div class="row">
						 	<div class="col-md-12">
								<div class="img-block">
									<img class="img-fluid" src="{% static 'images/image-03.jpg' %}" alt="about-image">
								</div>
							</div>
						</div>


						<!-- ABOUT BOXES -->
						<div class="a4-boxes">
							<div class="row d-flex align-items-center">

								<!-- BOX #1 -->
								<div class="col-md-4">
									<div class="abox-4 icon-sm">

										<!-- Icon -->
										<span class="flaticon-004-computer"></span>

										<!-- Text -->
										<div class="abox-4-txt">
											<h5 class="h5-lg">Trusted Content</h5>
											<p class="grey-color">Congue augue egestas magna volutpat dictum suscipit ipsum egestas
											   magna vitae purus
											</p>
										</div>

									</div>
								</div>	<!-- END BOX #1 -->


								<!-- BOX #2 -->
								<div class="col-md-4">
									<div class="abox-4 icon-sm">

										<!-- Icon -->
										<span class="flaticon-028-learning-1"></span>

										<!-- Text -->
										<div class="abox-4-txt">
											<h5 class="h5-lg">Certified Teachers</h5>
											<p class="grey-color">Congue augue egestas magna volutpat dictum suscipit ipsum egestas
											   magna vitae purus
											</p>
										</div>

									</div>
								</div>	<!-- END BOX #2 -->


								<!-- BOX #3 -->
								<div class="col-md-4">
									<div class="abox-4 icon-sm">

										<!-- Icon -->
										<span class="flaticon-032-tablet"></span>

										<!-- Text -->
										<div class="abox-4-txt">
											<h5 class="h5-lg">Lifetime Access</h5>
											<p class="grey-color">Congue augue egestas magna volutpat dictum suscipit ipsum egestas
											   magna vitae purus
											</p>
										</div>

									</div>
								</div>	<!-- END BOX #3 -->


							</div>  <!-- End row -->
						 </div>	  <!-- END ABOUT BOXES -->


					</div>	   <!-- End container -->
				</section>	<!-- End ABOUT-4 -->








            </div>	<!-- END INNER PAGE WRAPPER -->

{% endblock %}