{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
        .container-conheca {
            display: flex;
            flex-direction: column; /* Mobile default: vertical */
            height: 100vh;
            overflow: hidden;
            padding-top: 5em;
        }
        .section-conheca {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #f0f0f0;
            transition: flex 1s ease, max-height 1s ease;
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }
        .section-conheca-header {
            padding: 10px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            flex-shrink: 0;
        }
        .section-conheca-header img {
            height: 40px;
        }
        .section-conheca-content {
            padding: 25px;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 1s ease, max-height 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; /* Garantir alinhamento vertical correto dos elementos internos */
            text-align: center; /* Para centralizar o texto */
        }
        .section-conheca-content h1 {
            font-size: 2rem;
            display: flex;
            align-items: center;
        }

        .section-conheca-content img {
            margin-left: 10px;
        }
        .section-conheca.active {
            flex: 20;
        }
        .section-conheca.active .section-conheca-content {
            opacity: 1;
            max-height: 500px;
        }

        /* Botão para próximo dentro de cada seção */
        .next-btn {
            display: none;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #3671c1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }

        /* Mostra o botão apenas no mobile */
        @media (max-width: 768px) {
            .section-conheca-content {
                flex-direction: column; /* Alinha os itens em uma coluna no mobile */
                text-align: center; /* Centraliza o texto no mobile */
            }
            .section-conheca-content h1 {
                flex-direction: column; /* Alinha o texto e a imagem em coluna no mobile */
                text-align: center; /* Centraliza o texto no mobile */
            }
            .section-conheca-content h1 img {
                height: 100px;
                margin-left: 0;
                margin-top: 10px; /* Adiciona espaçamento entre o texto e a imagem no mobile */
            }
            .next-btn {
                display: block;
            }

        }

        /* Desktop styles */
        @media (min-width: 768px) {
            .container-conheca {
                flex-direction: row;
            }
            .section-conheca {
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
            }
            .section-conheca-header {
                margin-bottom: 0;
                margin-top: auto;
            }
            .section-conheca-content {
                max-height: none;
                max-width: 0;
                transition: opacity 1s ease, max-width 1s ease;
            }
            .section-conheca.active .section-conheca-content {
                max-width: 100%;
            }
        }
    </style>
<div class="container-conheca">
        <div class="section-conheca active" onclick="togglesection(this)" style="background-color: #ffbf04;">
            <div class="section-conheca-content">
                <h1>Celebre nossa jornada de </h1><img src="{% static 'images/50-img.png' %}" alt="" height="200px"><h1> anos</h1>
                <button class="next-btn" onclick="nextsection(1)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--50.png' %}" alt="Icone Seção 1"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: #3671c1;">
            <div class="section-conheca-content">
                <h3>Começando um Jornada do Cuidado</h3>
                <p>Missão começa a fornecer melhores resultados para famílias com crianças doentes nos EUA</p>
                <p><span>11</span> Programas totais para familias</p>
                <p><span>1</span> País</p>
                <h3>Apoiar as famílias através de:</h3>
                <p><b>1974</b> Primeiro programa da Casa Ronald McDonald</p>
                <p><b>1977</b> Segunda Casa abre, dando início a um movimento</p>
                <p><b>1979</b> 11 programas de casa disponíveis nos EUA</p>
                <button class="next-btn" onclick="nextsection(2)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--70.png' %}" alt="Icone Seção 2"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: white;">
            <div class="section-conheca-content">
                <h2>Conteúdo da Seção 3</h2>
                <p>Este é o conteúdo da terceira seção.</p>
                <button class="next-btn" onclick="nextsection(3)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--80s.png' %}" alt="Icone Seção 3"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: #3671c1;">
            <div class="section-conheca-content">
                <h2>Conteúdo da Seção 4</h2>
                <p>Este é o conteúdo da quarta seção.</p>
                <button class="next-btn" onclick="nextsection(4)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--90s.png' %}" alt="Icone Seção 4"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: white;">
            <div class="section-conheca-content">
                <h2>Conteúdo da Seção 5</h2>
                <p>Este é o conteúdo da quinta seção.</p>
                <button class="next-btn" onclick="nextsection(5)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--00s.png' %}" alt="Icone Seção 5"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: #3671c1;">
            <div class="section-conheca-content">
                <h2>Conteúdo da Seção 6</h2>
                <p>Este é o conteúdo da sexta seção.</p>
                <button class="next-btn" onclick="nextsection(6)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--10s.png' %}" alt="Icone Seção 6"></div>
        </div>
        <div class="section-conheca" onclick="togglesection(this)" style="background-color: white;">
            <div class="section-conheca-content">
                <h2>Conteúdo da Seção 7</h2>
                <p>Este é o conteúdo da sétima seção.</p>
                <button class="next-btn" onclick="nextsection(7)">Próxima</button>
            </div>
            <div class="section-conheca-header"><img src="{% static 'images/icon--20s.png' %}" alt="Icone Seção 7"></div>
        </div>
    </div>

    <script>
        function togglesection(section) {
            document.querySelectorAll('.section-conheca').forEach(s => {
                s.classList.remove('active');
            });
            section.classList.add('active');
        }

        // Inicializa a primeira seção como ativa
        document.querySelector('.section-conheca').classList.add('active');

        function nextsection(currentIndex) {
            const sections = document.querySelectorAll('.section-conheca');
            sections[currentIndex - 1].classList.remove('active');

            const nextIndex = currentIndex % sections.length;
            sections[nextIndex].classList.add('active');

            // Previne que o clique no botão ative o evento de clique na seção
            event.stopPropagation();
        }
    </script>
{% endblock %}