{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}

<!-- INNER PAGE WRAPPER ============================================= -->
<div class="inner-page-wrapper">
    <!-- BREADCRUMB ============================================= -->
    <div id="breadcrumb" class="division">
        <div class="container">
            <div class="row">
                <!-- BREADCRUMB NAV -->
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cursos</li>
                        </ol>
                    </nav>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- END BREADCRUMB -->
    
    <!-- PAGE HERO ============================================= -->
    <section class="bg-05 page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="hero-txt white-color">
                        <!-- Title -->
                        <h3 class="h3-xs">Cursos</h3>

                        <!-- Share Icons -->
                        <div class="share-list">
                            <ul class="share-social-icons text-center clearfix">
                                <li>
                                    <p><span>{{ todos_cursos.count }} Cursos</span> encontrados.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" hidden>
                    <form class="d-flex" role="search" method="GET" action="{% url 'cursos' %}" >
                        <input class="form-control me-2" type="search" placeholder="Pesquisar Cursos" aria-label="Search" name="search" value="{{ busca }}">
                        <button class="btn btn-md" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END PAGE HERO -->
    
    <!-- Busca (Quando há uma busca) ============================================= -->
    {% if busca.exists %}
    <section id="search-results" class="wide-60 courses-section division">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-40">
                        <h4 class="h4-xl">Busca</h4>
                        <p class="p-md">Cursos encontrados para "{{ busca }}".</p>
                    </div>
                </div>
            </div>
    
            <!-- COURSES HOLDER -->
            <div class="row courses-grid">
                {% for curso in cursos %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="cbox-1">
                        <a href="{% url 'cursodetalhe' curso.id %}">
                            <img class="img-fluid" src="{{ curso.thumb.url }}" alt="{{ curso.titulo }}" />
                            <div class="cbox-1-txt">
                                <p class="course-tags">
                                    <span>{{ curso.categoria.nome }}</span>
                                    <span>{{ curso.duracao }}</span>
                                </p>
                                <h5 class="h5-xs">{{ curso.titulo }}</h5>
                                <div class="course-rating clearfix">
                                    {% with curso.media_avaliacoes|default:0 as media_avaliacoes %}
                                        {% with media_avaliacoes|floatformat:1 as rounded_media %}
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= rounded_media|floatformat:0 %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                            {% if rounded_media|floatformat:1|slice:":-1" != rounded_media|floatformat:0 %}
                                                <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                        {% endwith %}
                                    {% endwith %}
                                    <span>{{ media_avaliacoes|floatformat:1 }} ({{ curso.num_avaliacoes }} Avaliações)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- END COURSES HOLDER -->
        </div> <!-- End container -->
    </section> <!-- END BUSCA -->
    {% else %}

    <!-- Verifique se existem cursos antes de exibir -->
    {% if todos_cursos.exists %}
    <!-- Todos os Cursos ============================================= -->
    <section id="courses-5" class="courses-section division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-40">
                        <h4 class="h4-xl">Todos os Cursos</h4>
                        <p class="p-md">Encontre todos os cursos disponíveis na nossa plataforma.</p>
                    </div>
                </div>
            </div>
            <div class="row courses-grid">
                {% for curso in todos_cursos %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="cbox-1">
                        <a href="{% if curso.emBreve %} # {% else %} {% url 'cursodetalhe' curso.id %} {%endif %}">
                            <img class="img-fluid" src="{{ curso.thumb.url }}" alt="{{ curso.titulo }}" />
                            <div class="cbox-1-txt">
                                <p class="course-tags">
                                    <span>{{ curso.categoria.nome }}</span>
                                    <span>{{ curso.duracao }}</span>
                                </p>
                                <h5 class="h5-xs">{{ curso.titulo }} - {% if curso.emBreve %} EM BREVE {% endif %}</h5>
                                <div class="course-rating clearfix">
                                    {% with curso.media_avaliacoes|default:0 as media_avaliacoes %}
                                        {% with media_avaliacoes|floatformat:1 as rounded_media %}
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= rounded_media|floatformat:0 %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                            {% if rounded_media|floatformat:1|slice:":-1" != rounded_media|floatformat:0 %}
                                                <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                        {% endwith %}
                                    {% endwith %}
                                    <span>{{ media_avaliacoes|floatformat:1 }} ({{ curso.num_avaliacoes }} Avaliações)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- END COURSE -->
                {% endfor %}
            </div> <!-- END COURSES LIST -->
        </div> <!-- End container -->
    </section> <!-- END TODOS OS CURSOS -->
    {% else %}
    <p>Nenhum curso encontrado.</p>
    {% endif %}
{% endif %}
    <!-- PAGE PAGINATION ============================================= -->
    <!-- <div class="page-pagination division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div> 
        </div> 
    </div>  -->
</div> <!-- END INNER PAGE WRAPPER -->
{% endblock %}
