{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}
<style>.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.ml-auto {
    margin-left: auto; /* Garante que o botão vá para a extrema direita */
}</style>
<div class="inner-page-wrapper">

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cursos' %}">Cursos</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detalhe Curso</li>
                        </ol>
                    </nav>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- END BREADCRUMB -->

    <!-- COURSE DETAILS -->
    <section id="course-details" class="wide-40 course-section division">
        <div class="container">
            <div class="row">

                <!-- COURSE DESCRIPTION -->
                <div class="col-lg-8">
                    <div class="course-txt pr-30">
                        <h3 class="h3-sm">{{ curso.titulo }}</h3>
                        <p class="course-short-data" hidden>
                            Criado por: {{ curso.professor }} &bull;
                            Alterado: {{ curso.data_atualizacao|date:"d/m/Y" }}
                        </p>

                        <div class="course-rating clearfix">
                            {% for i in estrelas_inteiras %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% if meia_estrela %}
                                <i class="fas fa-star-half-alt"></i>
                            {% endif %}
                            {% for i in estrelas_vazias %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                            <span>{{ media_avaliacoes|floatformat:1 }} ({{ avaliacoes.count }} Avaliações)</span>
                        </div>

                        <div class="cs-description cd-block">
                            <h5 class="h5-xl">Descrição do Curso</h5>
                            <p>{{ curso.descricao|linebreaksbr }}</p>
                        </div> <!-- END COURSE DESCRIPTION -->

                        <div class="cs-content cd-block">
                            <h5 class="h5-xl">Conteúdo do curso</h5>
                            <p>{{ curso.duracao_total }}</p>
                            <div id="accordion" role="tablist">
                                {% for modulo in modulos %}
                                    <div class="card">
                                        <div class="card-header" role="tab" id="heading{{ modulo.id }}">
                                            <h5 class="h5-xs">
                                                <a data-toggle="collapse" href="#collapse{{ modulo.id }}" role="button">
                                                    {{ modulo.titulo }}
                                                </a>
                                            </h5>
                                            <div class="hdr-data"><p>{{ modulo.aulas.count }} aulas</p></div>
                                        </div>
                                        <div id="collapse{{ modulo.id }}" class="collapse">
                                            <div class="card-body">
                                                <ul class="txt-list mb-10">
                                                    {% for aula in modulo.aulas.all %}
                                                        <li>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <h5 class="h5-xs">{{ aula.titulo }}</h5>
                                                                <button class="btn btn-md btn-tra-grey blue-hover ml-5" style="margin-left:auto;" data-toggle="modal" data-target="#videoModal" data-video="{{ aula.conteudo.url }}">
                                                                    Assistir
                                                                </button>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div> <!-- END COURSE CONTENT -->


                    </div>
                </div> <!-- END COURSE DESCRIPTION -->

                <!-- COURSE DATA -->
                <div class="col-lg-4">
                    <div class="course-data">
                        <img class="img-fluid" src="{{ curso.thumb.url }}" alt="course-preview" />
                        <div class="course-data-price text-center">
                            <!-- Price information can go here -->
                        </div>
                        <div class="course-data-links">

                        </div>
                    </div>
                </div> <!-- END COURSE DATA -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END COURSE DETAILS -->
</div> <!-- END INNER PAGE WRAPPER -->

<!-- Modal for Video -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">Vídeo da Aula</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="videoPlayer" class="w-100" controls controlsList="nodownload">
                    <source src="" type="video/mp4"> <!-- Fonte será definida via JavaScript -->
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            </div>
        </div>
    </div>
</div>

<!-- Incluir jQuery e Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    // Adiciona o evento para carregar o vídeo no modal
    $('#videoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Botão que acionou o modal
        var videoUrl = button.data('video') // Extrai a informação do atributo data-video
        var modal = $(this)
        modal.find('#videoPlayer source').attr('src', videoUrl) // Define a fonte do vídeo
        modal.find('#videoPlayer')[0].load() // Carrega o vídeo
    })


    const videoPlayer = document.getElementById('videoPlayer');
    
    videoPlayer.onended = function() {
        const aulaId = videoPlayer.getAttribute('data-aula-id');  // Defina o ID da aula na inicialização da modal
        if (aulaId) {
            // Envia solicitação AJAX para salvar o progresso
            fetch(`/salvar_progresso/${aulaId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',  // Inclua o CSRF token
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    aula_id: aulaId
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'ok') {
                    alert('Progresso salvo com sucesso!');
                }
            })
            .catch(error => console.error('Erro ao salvar o progresso:', error));
        }
    };

</script>

{% endblock %}
