{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}

<!-- INNER PAGE WRAPPER
============================================= -->
<div class="inner-page-wrapper">

    <!-- BREADCRUMB
    ============================================= -->
    <div id="breadcrumb" class="division">
        <div class="container">
            <div class="row">

                <!-- BREADCRUMB NAV -->
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Meus Cursos</li>
                        </ol>
                    </nav>
                </div>

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- END BREADCRUMB -->

    <!-- PAGE HERO
    ============================================= -->
    <section class="bg-05 page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="hero-txt white-color">

                        <!-- Title -->
                        <h3 class="h3-xs">Meus Cursos</h3>

                        <!-- Share Icons -->
                        <div class="share-list">
                            <ul class="share-social-icons text-center clearfix">
                                <li>
                                    <p><span>{{ cursos_iniciados|length }} Cursos</span> encontrados.</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
				<div class="col-md-6">
					<!-- Formulário de Busca -->
					<form class="d-flex" role="search" method="get" action="{% url 'meus_cursos' %}">
						<input type="text" class="form-control" placeholder="Pesquisar Cursos" name="search" id="input-instituto" value="{{ busca }}">
						<button class="btn btn-md" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
                <!-- END PAGE HERO TEXT -->
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END PAGE HERO -->

    <!-- COURSES SECTION
    ============================================= -->
    <section id="courses-1" class="wide-100 courses-section division">
        <div class="container">

            <!-- COURSES HOLDER -->
            <div class="row courses-grid">

                <!-- Cursos Iniciados -->
                {% if cursos_iniciados %}
                    {% if cursos_iniciados|length %}
                        <h4 class="h4-xl">Cursos que comecei</h4>
                        {% for curso in cursos_iniciados %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="cbox-1">
                                <a href="{% url 'cursodetalhe' curso.id %}">

                                    <!-- Image -->
                                    <img class="img-fluid" src="{{ curso.thumb.url }}" alt="course-preview" />

                                    <!-- Text -->
                                    <div class="cbox-1-txt">

                                        <!-- Course Tags -->
                                        <p class="course-tags">
                                            <span>{{ curso.titulo }}</span>
                                            <span>{{ curso.duracao }} Hours</span>
                                        </p>

                                        <!-- Course Title -->
                                        <h5 class="h5-xs">{{ curso.titulo }}</h5>

                                        <!-- Course Rating -->
                                        <div class="course-rating clearfix">
                                            {% for i in "12345" %}
                                            {% if i|add:0 <= curso.media_avaliacoes %}
                                            <i class="fas fa-star"></i>
                                            {% else %}
                                            <i class="far fa-star"></i>
                                            {% endif %}
                                            {% endfor %}
                                            {% if curso.show_half_star %}
                                            <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                            <span>{{ curso.media_avaliacoes_formatado }} ({{ curso.num_avaliacoes }} Avaliações)</span>
                                        </div>

                                        <!-- Course Price -->
                                        <span class="course-price">
                                            <span class="old-price">{{ curso.preco_anterior }}</span> {{ curso.preco_atual }}
                                        </span>

                                    </div>

                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Nenhum curso iniciado encontrado.</p>
                    {% endif %}
                {% else %}
                    <p>Você ainda não iniciou nenhum curso.</p>
                {% endif %}

                <!-- Cursos Recomendados -->
                {% if cursos_para_voce %}
                    {% if cursos_para_voce|length %}
                        <h4 class="h4-xl">Cursos para você</h4>
                        {% for curso in cursos_para_voce %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="cbox-1">
                                <a href="{% url 'cursodetalhe' curso.id %}">

                                    <!-- Image -->
                                    <img class="img-fluid" src="{{ curso.thumb.url }}" alt="course-preview" />

                                    <!-- Text -->
                                    <div class="cbox-1-txt">

                                        <!-- Course Tags -->
                                        <p class="course-tags">
                                            <span>{{ curso.titulo }}</span>
                                            <span>{{ curso.duracao }} Hours</span>
                                        </p>

                                        <!-- Course Title -->
                                        <h5 class="h5-xs">{{ curso.titulo }}</h5>

                                        <!-- Course Rating -->
                                        <div class="course-rating clearfix">
                                            {% for i in "12345" %}
                                            {% if i|add:0 <= curso.media_avaliacoes %}
                                            <i class="fas fa-star"></i>
                                            {% else %}
                                            <i class="far fa-star"></i>
                                            {% endif %}
                                            {% endfor %}
                                            {% if curso.show_half_star %}
                                            <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                            <span>{{ curso.media_avaliacoes_formatado }} ({{ curso.num_avaliacoes }} Avaliações)</span>
                                        </div>

                                        <!-- Course Price -->
                                        <span class="course-price">
                                            <span class="old-price">{{ curso.preco_anterior }}</span> {{ curso.preco_atual }}
                                        </span>

                                    </div>

                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Nenhum curso recomendado encontrado.</p>
                    {% endif %}
                {% else %}
                    <p>Não há cursos recomendados no momento.</p>
                {% endif %}

            </div> <!-- END COURSES HOLDER -->

        </div> <!-- End container -->
    </section> <!-- END COURSES-1 -->

</div> <!-- END INNER PAGE WRAPPER -->
{% endblock %}
