{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}
<style>
    /* CSS Customizado */
    .form-holder {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    .form-holder h4 {
        font-weight: 600;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-group label {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 10px;
        width: 100%;
    }

    .btn-block {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
    .img-round {
        border-radius: 50%;
        width: 100px;  /* Ajuste o tamanho conforme necessário */
        height: 100px; /* Ajuste o tamanho conforme necessário */
        object-fit: cover; /* Garante que a imagem preencha o contêiner */
    }
</style>
<!-- INNER PAGE WRAPPER ============================================= -->
<div class="inner-page-wrapper">

    <!-- BREADCRUMB ============================================= -->
    <div id="breadcrumb" class="division">
        <div class="container">
            <div class="row">

                <!-- BREADCRUMB NAV -->
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                        </ol>
                    </nav>
                </div>

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- END BREADCRUMB -->

    <!-- PAGE HERO ============================================= -->
    <section class="bg-05 page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-txt white-color">
                    <div class="row align-items-center">

                        <!-- Imagem do Usuário -->
                        <div class="col-auto">
                            <img src="{% static 'images/review-author-7.jpg' %}" alt="author-avatar" class="img-round">
                        </div>

                        <!-- Título -->
                        <div class="col">
                            <h3 class="h3-xs">Perfil do Usuário</h3>
                        </div>

                    </div> <!-- End row -->
                    </div>
                </div> <!-- END PAGE HERO TEXT -->
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END PAGE HERO -->

    <!-- PROFILE FORM SECTION ============================================= -->
    <section class="wide-70 form-section division">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="form-holder card p-4 shadow-sm">

                        <!-- Title -->
                        <h4 class="h4-sm mb-4">Atualizar Perfil</h4>

                        <!-- Abas do Formulário -->
                        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="dados-gerais-tab" data-bs-toggle="tab" href="#dados-gerais" role="tab" aria-controls="dados-gerais" aria-selected="true">Dados Gerais</a>
                            </li>
                            <li class="nav-item" role="presentation" id="redes-sociais-tab-item" style="display: none;">
                                <a class="nav-link" id="redes-sociais-tab" data-bs-toggle="tab" href="#redes-sociais" role="tab" aria-controls="redes-sociais" aria-selected="false">Redes Sociais e Descrição</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="profileTabsContent">
                            <div class="tab-pane fade show active" id="dados-gerais" role="tabpanel" aria-labelledby="dados-gerais-tab">
                                <!-- Dados Gerais Form -->
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="row mb-3 mt-5">
		                                    <div class="col">
                                                <label>Nome</label>
                                                {{ form.nome }}
                                            </div>
		                                    <div class="col">
                                                 <label>Email</label>
                                                {{ form.email }}
                                            </div>
                                            <div>
                                                <label>CPF</label>
                                                {{ form.cpf }}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <label>Foto</label>
                                                {{ form.foto }}
                                            </div>
                                            <div class="col">
                                                <label>Data Nascimento</label>
                                                {{ form.data_de_nascimento }}
                                            </div>
                                        </div>
                                    </div>
                                     <button type="submit" class="btn btn-blue tra-black-hover last-link">Salvar</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="redes-sociais" role="tabpanel" aria-labelledby="redes-sociais-tab">
                                <!-- Redes Sociais e Descrição Form -->
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.facebook }}
                                        {{ form.linkedin }}
                                        {{ form.google_plus }}
                                        {{ form.descricao }}
                                        {{ form.web_site }}
                                        {{ form.categorias }}
                                    </div>
                                    <button type="submit" class="btn btn-blue tra-black-hover last-link">Salvar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END PROFILE FORM SECTION -->

</div> <!-- END INNER PAGE WRAPPER -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tipoField = document.getElementById('id_tipo');
        const redesSociaisTab = document.getElementById('redes-sociais-tab-item');

        function toggleRedesSociaisTab() {
            if (tipoField.value === 'PR') {  // 'PR' é o valor do tipo 'Professor'
                redesSociaisTab.style.display = 'block';
            } else {
                redesSociaisTab.style.display = 'none';
            }
        }

        tipoField.addEventListener('change', toggleRedesSociaisTab);

        // Verifica o valor inicial ao carregar a página
        toggleRedesSociaisTab();
    });
</script>

{% endblock %}
