{% extends 'baseLogado.html' %}
{% block content %}
{% load static %}
			<div class="inner-page-wrapper">




				<!-- BREADCRUMB
				============================================= -->
				<div id="breadcrumb" class="division">
					<div class="container">
						<div class="row">

							<!-- BREADCRUMB NAV -->
							<div class="col-md-12">
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								    	<li class="breadcrumb-item"><a href="teachers-list.html">Professores</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">David Smith</li>
								  	</ol>
								</nav>
							</div> 

						</div>	 <!-- End row -->
					</div>	<!-- End container -->		
				</div>	<!-- END BREADCRUMB -->	




				<!-- TEAM-3
				============================================= -->
				<section id="team-3" class="pt-100 team-section division">
					<div class="container">
						<div class="row">	


							<!-- TEACHER PHOTO -->
							<div class="col-md-4">
								<div class="team-3-photo text-center">

									<!-- Teacher Photo -->
									<div class="t-3-photo mb-25">
										<img class="img-fluid" src="{%static 'images/team-5.jpg' %}"  alt="team-member-foto">
									</div>

									<!-- Social Icons -->
									<div class="tm-3-social clearfix">
										<ul class="text-center clearfix">																			
											<li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>	
											<li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>

									<!-- Links -->
									<div class="t-3-links">
										<a href="#" class="btn btn-md btn-tra-grey blue-hover">Website</a>
										<a href="mailto:yourdomain@mail.com" class="btn btn-md btn-tra-grey blue-hover">hello@yourdomain.com</a>
									</div>

								</div>
							</div>	<!-- END TEACHER PHOTO -->


							<!-- TEACHER DATA -->
							<div class="col-md-8">
								<div class="team-3-txt pc-45">

									<!-- Name -->
									<h3 class="h3-xs">David Smith</h3>
									<span>IT & Software Courses</span>

									<!-- Data -->
									<p class="teacher-data">14,622 Total Alunos &bull; 9 Cursos &bull; 4.63 Avaliação (738 Reviews)</p>

									<!-- Small Title -->
									<h5 class="h5-xl mt-40">About Me</h5>

									<!-- Text -->
									<p>Aliqum  mullam blandit tempor sapien gravida donec ipsum porta justo. Velna vitae auctor 
									   congue magna nihil impedit ligula risus. Mauris donec ociis magnis sapien sagittis sapien sem 
									   congue tempor gravida donec an enim ipsum porta justo integer odio velna a purus efficitur ipsum 
									   primis in cubilia laoreet
									</p>

									<!-- List -->	
									<ul class="txt-list mb-15">

										<li>Maecenas gravida porttitor nunc tempor laoreet turpis
										</li>
														
										<li>Integer congue magna at pretium purus pretium ligula at rutrum risus luctus dolor auctor 
											ipsum blandit purus aliqum  mullam blandit tempor
										</li>

										<li>Risus at congue etiam aliquam sapien egestas posuere gravida</li>

										<li>Porttitor nunc, quis vehicula magna luctus tempor laoreet</li>

										<li>Magna at pretium purus pretium ligula at rutrum risus luctus dolor auctor ipsum blandit 
											purus aliqum  mullam blandit tempor
										</li>

									</ul>

									<!-- Text -->
									<p>Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque laoreet turpis urna 
									   augue, viverra a augue eget, dictum tempor magnis. Pulvinar consectetur and placerat imperdiet 
									   dui varius viverr ac massa lorem fusce
									</p> 

								</div>
							</div>	<!-- END TEACHER DATA -->


						</div>     <!-- End row -->
					</div>     <!-- End container -->
				</section>	<!-- END TEAM-3 -->




				<!-- COURSES-3
				============================================= -->
				<section id="courses-3" class="pt-80 pb-60 courses-section division">
					<div class="container">


						<!-- SECTION TITLE -->	
						<div class="row">	
							<div class="col-md-12">
								<div class="section-title mb-40">
									<h5 class="h5-xl">Meus Cursos (9)</h5>
								</div>	
							</div>
						</div>


						<!-- COURSES HOLDER -->
						<div class="row courses-grid">


							<!-- COURSE #1 -->
							<div id="c3-1" class="col-md-6 col-lg-4 col-xl-3">
								<div class="cbox-1">
									<a href="course-details.html">
										
										<!-- Image -->
										<img class="img-fluid" src="{%static 'images/courses/course-1-img.jpg' %}" alt="course-preview" />

										<!-- Text -->
										<div class="cbox-1-txt">

											<!-- Course Tags -->
											<p class="course-tags">
												<span>Languages</span>
												<span>English</span>
											</p>	

											<!-- Course Title -->
											<h5 class="h5-xs">Beginner Level English - Foundations</h5>

											<!-- Course Rating -->
											<div class="course-rating clearfix">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star-half-alt"></i>
												<span>4.5 (26 Ratings)</span>
											</div>

											<!-- Course Price -->
											<span class="course-price"><span class="old-price">$149.99</span> $138.99</span>

										</div>

									</a>
								</div>
							</div>	<!-- END COURSE #1 -->	


							<!-- COURSE #2 -->
							<div id="c3-2" class="col-md-6 col-lg-4 col-xl-3">
								<div class="cbox-1">
									<a href="course-details.html">

										<!-- Image -->
										<img class="img-fluid" src="{%static 'images/courses/course-2-img.jpg' %}" alt="course-preview" />

										<!-- Text -->
										<div class="cbox-1-txt">

											<!-- Course Tags -->
											<p class="course-tags">
												<span>Languages</span>
												<span>English</span>
											</p>	

											<!-- Title -->
											<h5 class="h5-xs">Diploma in Basic English Grammar - Revised 2019</h5>

											<!-- Course Rating -->
											<div class="course-rating clearfix">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<span>5 (118 Ratings)</span>
											</div>

											<!-- Course Price -->
											<span class="course-price"><span class="old-price">$174.99</span> $59.99</span>

										</div>

									</a>
								</div>
							</div>	<!-- END COURSE #2 -->							


							<!-- COURSE #3 -->
							<div id="c3-3" class="col-md-6 col-lg-4 col-xl-3">
								<div class="cbox-1">
									<a href="course-details.html">

										<!-- Image -->
										<img class="img-fluid" src="{%static 'images/courses/course-3-img.jpg' %}" alt="course-preview" />

										<!-- Text -->
										<div class="cbox-1-txt">

											<!-- Course Tags -->
											<p class="course-tags">
												<span>Network Security</span>
											</p>

											<!-- Title -->
											<h5 class="h5-xs">The Complete Cyber Security Course : End Point Protection!</h5>

											<!-- Course Rating -->
											<div class="course-rating clearfix">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star-half-alt"></i>
												<span>4.5 (72 Ratings)</span>
											</div>

											<!-- Course Price -->
											<span class="course-price"><span class="old-price">$119.99</span> $34.99</span>

										</div>

									</a>
								</div>
							</div>	<!-- END COURSE #3 -->							


							<!-- COURSE #4 -->
							<div id="c3-4" class="col-md-6 col-lg-4 col-xl-3">
								<div class="cbox-1">
									<a href="course-details.html">
									
										<!-- Image -->
										<img class="img-fluid" src="{%static 'images/courses/course-4-img.jpg' %}" alt="course-preview" />

										<!-- Text -->
										<div class="cbox-1-txt">

											<!-- Course Tags -->
											<p class="course-tags">
												<span>SEO</span>
												<span>Marketing</span>
											</p>

											<!-- Title -->
											<h5 class="h5-xs">Google AdWords for Beginners 2020</h5>

											<!-- Course Rating -->
											<div class="course-rating clearfix">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<span>5 (281 Ratings)</span>
											</div>

											<!-- Course Price -->
											<span class="course-price">Free Course</span>

										</div>

									</a>
								</div>
							</div>	<!-- END COURSE #4 -->								


						</div>	  <!-- END COURSES HOLDER -->
					</div>     <!-- End container -->
				</section>	<!-- END COURSES-3 -->




				<!-- PAGE PAGINATION
				============================================= -->
				<div class="page-pagination division">
					<div class="container">
						<div class="row">	
							<div class="col-md-12">

								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">
										<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
									    <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
									    <li class="page-item"><a class="page-link" href="#">2</a> </li>
									    <li class="page-item"><a class="page-link" href="#">3</a></li>
									    <li class="page-item"><a class="page-link" href="#">4</a></li>
									    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
									</ul>	
								</nav>					

							</div>
						</div>  <!-- End row -->	
					</div> <!-- End container -->	
				</div>	<!-- END PAGE PAGINATION -->

			</div>	<!-- END INNER PAGE WRAPPER -->
{% endblock %}