{% load static %}
<style>
    .header-social {
        height: 30px;
        background-color: #c9c9c9; /* Cor de fundo opcional */
        text-align: right; /* Alinha os ícones à direita */
        padding-right: 21%; /* Ajusta o espaçamento à direita */
        position: fixed; /* Fixa a barra na tela */
        top: 0; /* Alinha no topo da página */
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .header-social ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .header-social ul li {
        margin-right: 10px;
    }

    .header-social ul li:last-child {
        margin-right: 0;
    }

    .header-social img {
        height: 20px;
    }

    .header-wrapper {
        margin-top: 35px; /* Garante que o menu fique abaixo da barra de redes sociais */
    }

    /* Oculta a barra de redes sociais no mobile */
    @media (max-width: 991px) {
        .header-social {
            display: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1399.98px) {
        .header-social {
            padding-right: 90px;
        }
    }
</style>


<header id="header" class="header white-menu navbar-dark">
<div class="header-social">
    <ul>
        <li><a href="https://www.instagram.com/institutoronald/"><img src="{% static 'images/icons/socials/instagram.png' %}" alt=""></a></li>
        <li><a href="https://www.linkedin.com/company/instituto-ronald-mcdonald/"><img src="{% static 'images/icons/socials/linkedin.png' %}" alt=""></a></li>
        <li><a href="https://www.facebook.com/InstitutoRonaldMcDonald/"><img src="{% static 'images/icons/socials/facebook.png' %}" alt=""></a></li>
        <li><a href="https://www.youtube.com/user/institutoronald"></a><img src="{% static 'images/icons/socials/youtube.png' %}" alt="YouTube"></a></li>
    </ul>
</div>
    <div class="header-wrapper" style="margin-top: 0; padding-top: 15px">

        <!-- MOBILE HEADER -->
        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
            <span class="smllogo smllogo-black"><img src="{% static 'images/logo.png' %}" width="172" height="40" alt="mobile-logo"/></span>
            <span class="smllogo smllogo-white"><img src="{% static 'images/logo-white.png' %}" width="172" height="40" alt="mobile-logo"/></span>
        </div>

        <!-- NAVIGATION MENU -->
        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">

                <!-- LOGO IMAGE -->
                <!-- For Retina Ready displays take an image with double the amount of pixels that your image will be displayed (e.g 344 x 80 pixels) -->
                <div class="desktoplogo">
                    <a href="{% url 'homepage' %}"  class="logo-black"><img src="{% static 'images/logo.png' %}" width="172" height="40" alt="header-logo"></a>
                </div>
                <div class="desktoplogo">
                    <a href="{% url 'homepage' %}"  class="logo-white"><img src="{% static 'images/logo-white.png' %}" width="172" height="40" alt="header-logo"></a>
                </div>

                <!-- MAIN MENU -->
                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list">

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true" hidden><a href="#">About</a></li>

                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true" hidden>
                            <a href="#">Pages <span class="wsarrow"></span></a>
                            <div class="wsmegamenu clearfix halfmenu">
                                <div class="container-fluid">
                                    <div class="row">
                                        <!-- Links -->
                                        <ul class="col-lg-6 col-md-12 col-xs-12 link-list left-link-list">
                                            <li><a href="about.html">About Us Page</a></li>
                                            <li><a href="categories-list.html">Categories Listing</a></li>
                                            <li><a href="category-details.html">Category Details</a></li>
                                            <li><a href="courses-list.html">Courses Listing</a></li>
                                            <li><a href="course-details.html">Course Details</a></li>
                                            <li><a href="teachers-list.html">Teachers Listing</a></li>
                                            <li><a href="teacher-profile.html">Teacher Profile</a></li>
                                        </ul>

                                        <!-- Links -->
                                        <ul class="col-lg-6 col-md-12 col-xs-12 link-list">
                                            <li><a href="become-a-teacher.html">Become A Teacher</a></li>
                                            <li><a href="pricing.html">Pricing Plans Page</a></li>
                                            <li><a href="reviews.html">Reviews Page</a></li>
                                            <li><a href="faqs.html">FAQs Page</a></li>
                                            <li><a href="blog-listing.html">Blog Listing</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="contacts.html">Contacts Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true" hidden>
                            <a href="#">Site Map<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="courses-list.html">Doação</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Doe Alimento</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Amigo Contribuinte</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Bazar Online</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Bazar Solidário</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Estação Cap</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Parceria</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Herança</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Seja um voluntário</a></li>
                            </ul>
                        </li>



                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="{% url 'cursos' %}">Cursos</a></li>

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="{% url 'conheca' %}">Conheça</a></li>

                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true" hidden>
                            <a href="#">Conheça <span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="courses-list.html">A Causa</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Instituição</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Como Visitar</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Instalações</a></li>
                                <li aria-haspopup="true"><a href="courses-list.html">Premiações</a></li>
                            </ul>
                        </li>

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true" hidden><a href="blog-listing.html">Blog</a></li>

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true" hidden><a href="contacts.html">Contato</a></li>

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="{% url 'login' %}">Login</a></li>

                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true">
                            <a href="#"><img src="{% static 'images/icons/question-sign-in-circles.png' %}" alt="flag-icon" /> <span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="courses-list.html">Fale Conosco</a></li>
                                <li aria-haspopup="true"><a href="{% url 'conheca' %}">Conheça o Instituto</a></li>
                                <li aria-haspopup="true"><a href="https://doe.institutoronald.org.br/app/single_step">Como Ajudar</a></li>
                            </ul>
                        </li>


                        <!-- DROPDOWN MENU -->
                        <li aria-haspopup="true">
                            <a href="#" class="lang-select">
                                <img src="{% static 'images/icons/flags/brazil.png' %}" alt="flag-icon" /><span class="wsarrow"></span>
                            </a>
                            <ul class="sub-menu last-sub-menu">
                                <li aria-haspopup="true"><a href="#"><img src="{% static 'images/icons/flags/usa.png' %}" alt="flag-icon" /> English</a></li>
                                <li aria-haspopup="true"><a href="#"><img src="{% static 'images/icons/flags/spain.png' %}" alt="flag-icon" /> Español</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
